.Intro {
    overflow: hidden;
    position: relative;
    padding-top: 57%;
    color: #fff;

    .videoIntro {
        position: absolute;
        top: 0;
        left: 0;
    }

    .infoIntro {
        position: absolute;
        top: 30%;
        left: 30px;

        @media screen and (max-width:800px) {
            top: 100px;
            left: 25px;
        }

        @media screen and (max-width:600px) {
            top: 50px;
            left: 15px;
        }

        .headingIntro {
            font-size: 60px;
            transition: all 0.3s;
            color: #fff;

            @media screen and (max-width:800px) {
                font-size: 40px;
            }

            @media screen and (max-width:600px) {
                font-size: 24px;
            }
        }

        .overviewIntro {
            color: #fff;
            max-width: 550px;
            width: 100%;
            line-height: 1.3;
            padding-top: 25px;
            font-size: 18px;
            text-align: justify;
            

            @media screen and (max-width:800px) {
                font-size: 16px;
                padding-top: 10px;
                max-width: 400px;
            }

            @media screen and (max-width:600px) {
                font-size: 14px;
                padding-top: 0px;
                max-width: 300px;
                // display: none;

            }
        }
    }

    .bntVolume {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 5%;
        top: 50%;
        cursor: pointer;
        border-radius: 50%;
        padding: 6px;
        border: 1px solid #fff;
        color: #bbb;
        // transition: all 0.3s ease;
        // hii
        transform: scale(1);

        &:hover {
            transform: scale(1.2);
            color: #fff;
            transition: all 0.3s ease;
            background-color: rgba(211, 211, 211, 0.18);
        }

        @media screen and (max-width:800px) {
            height: 30px;
            width: 30px;
            transition: all 0.3s ease;
            padding: 4px;
        }

        @media screen and (max-width:600px) {
            height: 20px;
            transition: all 0.3s ease;
            width: 20px;
            padding: 2px;
        }
    }
    .bottomIntro{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(15,15,15,0.6) 40%,
            rgb(17,17,17),
            rgb(17,17,17)
        );
    }
}