.footer {
    width: 100%;
    height: auto;
    background-color: black;
    // position: relative;
    // bottom: -100px;

    .content_footer {
        line-height: 100px;
        max-width: 620px;
        height: 100px;
        padding: 0 20px;
        margin: auto;
        font-weight: 700;
        color: #fccbcb;
        display: flex;
        justify-content: space-between;
        background-color: black;

        @media screen and (max-width:600px) {
            display: block;
            height: 130px;
            padding: 20px;

            line-height: 32px;
        }


        a {
            text-decoration: none;
            color: #fccbcb;
        }

        .icon_footer {
            font-size: 20px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }


}